.backdrop {
    display: block;
    position: absolute;
    width: 98.2vw;
    height: 100%;
    left: 44.4%;
    transform: translate(-50%, 0);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.2);
    background: var(--semi-transparent-filter);
    z-index: 20;
}

.auth-form {
    position: absolute;
    top: 5vh;
    left: 39vw;
    width: 33vw;
    padding: 0 1vw 0;
    z-index: 30;
}

.auth-form .auth-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.auth-form.login {
    height: 8vw;
    min-height: 46px;
}

.auth-form.login .rememberMe {
    display: flex;
    gap: 0.6vw;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.5vw;
    font-size: 1.2vw;
}

.auth-form.login .rememberMe input {
    width: 1.4vw;
}

.auth-form.register {
    height: 14vw;
    min-height: 74px;
}

.auth-form button {
    position: absolute;
    right: 1vw;
    padding: 0;
    cursor: pointer;
}

.auth-form .fa-xmark {
    position: absolute;
    top: -1.2vh;
    right: 1vw;
    color: white;
}

.auth-form button.login,
.auth-form button.register {
    background-color: white;
    width: 6vw;
    bottom: 0.6vw;
    font-size: 1vw;
    border-radius: 0.1vw;
}

.auth-form label {
    color: white;
}

.auth-form .user-container,
.auth-form .password-container,
.auth-form .username,
.auth-form .email,
.auth-form .password,
.auth-form .repass {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
}

.auth-form .user-container,
.auth-form .password-container {
    gap: 1vw;
}

.auth-form .form-input {
    position: relative;
}

.auth-form .form-input i {
    position: absolute;
    padding-left: 0.4vw;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.2);
}

.auth-form input {
    padding-left: 2.2vw;
    width: 15vw;
}