.checklists .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw;
}

.checklists .header-menu h2,
.checklists .header-menu i {
    color: var(--color-menu-icon-soft-sky-blue);
}

.checklists .header-menu h2 {
    font-size: 2vw;
}

.checklists .header-menu i {
    padding-right: 1vw;
}

.checklists .header-menu button {
    margin-right: 0.3vw;
    font-size: 1.4vw;
    padding: 0.2vw 0.8vw;
    background-color: var(--color-menu-soft-sky-blue-transparent);
}

.checklists .header-menu button:hover {
    color: white;
    background-color: var(--color-menu-icon-soft-sky-blue);
}

.content.checklists .checklist {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 17.6vw;
    height: 16vw;
    box-shadow: var(--shadow-base);
    padding: 1vw;
    font-size: 1.2vw;
    overflow-y: auto;
}

.content.checklists .checklists-list .checklist.new,
.content.checklists .checklists-list .checklist.active {
    width: 99.1%;
    overflow: hidden;
}

.content.checklists .checklist.new .xmark,
.content.checklists .checklist.active .xmark {
    position: absolute;
    right: 2vw;
}

.content.checklists .checklists-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2vw;
    gap: 1.4vw;
}

.content.checklists .checklists-list .checklist {
    background-color: var(--color-menu-creamy-peach);
}

.content.checklists .checklists-list .checklist a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content.checklists .checklists-list .checklist.new {
    background-color: var(--color-menu-creamy-peach-transparent);
}

.content.checklists .checklist .delete-checklist {
    position: absolute;
    right: 1vw;
    top: 0.8vw;
}

.content.checklists .checklist .delete-checklist .fa-trash-can {
    color: rgba(94, 64, 12, 0.8);
}

.content.checklists .checklist.active>.delete-checklist {
    right: 3.4vw;
}

.checklist.new .title,
.checklist.active .title,
.checklist.new .new-todo-item,
.checklist.active .new-todo-item,
.checklist.new p,
.checklist.active .new-todo-item,
.checklist.new .title,
.checklist.active .title {
    background: none;
    border: none;
    width: 100%;
}

.checklist.new .title,
.checklist.active .title {
    font-size: 1.8vw;
    padding: 0;
    border-bottom: 1px solid var(--color-menu-icon-soft-sky-blue);
}

.checklist.active .form-edit .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0.3vw;
}

.content.checklists .checklist.new .todo-items-container,
.content.checklists .checklists-list .todo-items-container {
    overflow-y: auto;
    overflow-x: hidden;
}

.content.checklists .checklist.new .todo-items-container,
.content.checklists .checklist.active .todo-items-container  {
    margin: 1vw 0;
    width: 43vw;
    height: 8.6vw;
}

.content.checklists .checklists-list .todo-items-container {
    margin: 0.4vw 0;
    width: 15vw;
    height: 9vw;
}

.content.checklists .checklist.new .new-todo-item {
    display: inline-flex;
    align-items: center;
}

.content.checklists .checklists-list .checklist .new-todo-item-text,
.content.checklists .checklists-list .checklist .todo-item-text {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1vw;
    margin-right: 0.4vw;
    min-width: 10vw;
    max-width: 40vw;
}

.content.checklists .checklists-list .checklist .todo-item,
.content.checklists .checklists-list .checklist .new-todo-item {
    display: flex;
    align-items: center;
}

.content.checklists .checklists-list .checklist .new-todo-item {
    margin-right: 1vw;
}

.content.checklists .checklist.active .todo-item {
    height: 1.4vw;
}

.content.checklists .checklists-list .checklist .todo-item-text {
    background: none;
    width: 11.4vw;
}

.content.checklists .checklists-list .checklist.new .todo-item-text {
    width: 14.5vw;
}

.content.checklists .checklists-list .checklist .todo-item-text.done {
    color: gray;
    text-decoration: line-through;
}

.content.checklists .checklists-list .checklist .todo-item .tick {
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    margin-right: 0.6vw;
}

.content.checklists .checklists-list .checklist .todo-item p {
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1.2;
}

.content.checklists .checklists-list .checklist .new-todo-item .fa-square-plus {
    color: rgba(81, 132, 87, 0.8);
}

.content.checklists .checklists-list .checklist .todo-item .fa-square-minus {
    color: rgba(160, 81, 81, 0.5);
}

.content.checklists .checklists-list .checklist button.xmark {
    position: absolute;
    top: 0.85vw;
    right: 1.2vw;
}

.content.checklists .checklists-list .new-todo-item button {
    padding: 0.1vw 0;
}

.checklist .delete-btn,
.checklist .edit-btn {
    position: absolute;
    top: 13vw;
    height: 2vw;
}

.checklist .delete-btn {
    right: 1vw;
}

.checklist .edit-btn {
    left: 1vw;
}

.checklist .delete-btn:hover,
.checklist .edit-btn:hover {
    background-color: var(--color-gray-light);
}

.content.checklists .no-items .new-checklist {
    display: flex;
}

.content.checklists .new-checklist .new-checklist-text {
    max-width: 12vw;
    margin-right: 0.6vw;
    background-color: rgba(255, 255, 255, 0.4)
}

.content.checklists .checklist.new .create {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}

.content.checklists .no-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
    font-size: 3vw;
}

.content.checklists .no-items .add-checklist {
    font-size: 2vw;
    padding: 0.2vw 2vw;
    height: 4vw;
    background-color: var(--color-menu-creamy-peach-transparent);
}


.content.checklists .due-date {
    position: absolute;
    text-align: end;
    font-size: 1vw;
    right: 1vw;
    margin-top: 3.2vw;
}

.content.checklists .due-date div {
    display: flex;
    align-items: center;
    padding-top: 0.2vw;
    gap: 0.2vw;
}

.content.checklists .due-date p {
    padding-right: 0.5vw;
}

.content.checklists .due-time {
    top: 7.1vw;
    right: 1.5vw;
    display: flex;
    gap: 0.1vw;
    align-items: center;
    justify-content: end;
}

.content.checklists .event.active .due-date,
.content.checklists .event.new .due-date {
    top: 3vw;
}

.content.checklists .event.new .due-date p {
    padding-top: 0;
}

.content.checklists .event.active.details .due-date {
    padding-right: 0.6vw;
}

.content.checklists .form-edit .due-date {
    top: 4vw;
}

.content.checklists .due-date input {
    font-size: 1vw;
    background: none;
    border: none;
}

.content.checklists .checklists-list.empty {
    justify-content: center;
}
