.content.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content.contact h3 {
    font-size: 2vw;
    margin: 2vw;
}

.content.contact h2 {
    font-size: 2vw;
    margin: 2vw;
}

.content.contact p {
    margin: 0 9vw;
    font-size: 1.4vw;
}

.content.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    width: 50%;
}

.content.contact form h4 {
    font-size: 1.4vw;
    padding: 1vw;
}

.content.contact input[type="text"],
.content.contact textarea {
    padding: 0.5vw;
    border: none;
    font-size: 1vw;
}

.content.contact input[type="text"]:focus,
.content.contact textarea:focus {
    outline: none;
    border-color: var(--color-input-focus-border);
}

.content.contact .submit {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    background-color: #a5aa8e;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.content.contact i {
    font-size: 5vw;
}