.error.auth {
    color: var(--color-error-red);
    font-size: 1vw;
    padding-top: 0.1vw;
    height: 1vw;
}

.error.auth.login {
    font-size: 1vw;
    width: 31vw;
    text-align: right;
}

.error-field {
    border-color: var(--color-error-red);
}