.content.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6vw;
}

.content.news div {
    position: relative;
}

.content.news .container {
    width: 100%;
}

.content.news h3 {
    font-size: 2.2vw;
    color: var(--color-body-background);
    margin: 1vw 0 1.2vw;
}

.content.news .articles {
    list-style: none;
    padding: 0;
    gap: 0.6vw;
}

.content.news li {
    background: #fff;
    box-shadow: var(--left-box-shadow);
    margin-bottom: 1vw;
    padding: 1vw;
}

.content.news .article {
    padding: 1vw 2vw;
}

.content.news .article img {
    width: 100%;
    height: auto;
}

.content.news .article h4 {
    font-size: 1.6vw;
    margin-top: 0.5vw;
}

.content.news .article .article-info * {
    font-size: 1.2vw;
}

.content.news .article p {
    font-size: 1.1vw;
    line-height: 1.74vw;
    text-align: justify;
    max-height: 5vw;
    overflow: hidden;
}

.content.news .article a {
    color: var(--color-sky-blue);
    font-size: 1.2vw;
    text-decoration: none;
}

.content.news .article .comments {
    font-size: 0.9vw;
}

.content.news .article .read-more {
    font-size: 1.1vw;
}

.content.news .paging {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
}

.content.news .paging ul {
    list-style: none;
    display: flex;
    gap: 0.6vw;
    padding: 0;
}

.content.news .paging li {
    padding: 0.1vh 0.5vw;
}

.content.news .paging li a {
    text-decoration: none;
    color: var(--color-body-background);
    font-size: 1vw;
}

.content.news .paging span {
    font-size: 0.9vw;
    color: #5d5d5d;
    margin-left: 10px;
}

.content.news .new-article-btn {
    position: absolute;
    padding: 0.4vw 0.8vw;
    right: 0vw;
    top: 1.4vw;
    color: darkslategray;
    font-size: 1.2vw;
    background: rgb(255 255 255 / 40%);
}

.content.news .new-article-btn:hover {
    background-color: var(--color-menu-cool-gray);
    color: white;
}

.content.news .news.new {
    position: relative;
    display: flex;
    flex-direction: column;
    background: none;
    width: 54vw;
}

.content.news .news.new input,
.content.news .news.new textarea {
    background: none;
    border: none;
}

.content.news .news.new input {
    border-bottom: 1px solid darkgray;
    margin-bottom: 1vw;
}

.content.news .news.new textarea {
    height: 28vw;
}

.content.news .xmark {
    position: absolute;
    right: 0;
    top: 1vw;
}

.content.news .news.new button.create {
    position: absolute;
    bottom: -4vw;
    right: 0;
}

.content.news .news.new button.create:hover {
    background-color: var(--color-menu-cool-gray);
}

.content.news .error.new-article.error-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    text-align: right;
    font-size: 1.6vw;
    width: 33vw;
    bottom: 2vw;
}

.content.news .article {
    background: rgb(255 255 255 / 40%);
    box-shadow: none;
    margin-bottom: 1vw;
    padding: 1vw;
    overflow: auto;
}

.content.news .article h4 a {
    font-size: 1.6vw;
}

.content.news .article .posted-on,
.content.news .article .posted-on a {
    color: darkslategray;
    font-size: 1.2vw;
}

.content.news .article p {
    font-size: 1.2vw;
}

.content.news .article .interact {
    display: flex;
    gap: 0.28vw
}

.content.news .article-details {
    width: 90%;
}

.content.news .article-details .article-content,
.content.news .article-details .posted-on {
    padding-bottom: 1vw;
}

.content.news .article-details .posted-on,
.content.news .article-details .interact * {
    color: darkslategray;
}

.content.news .article-details .fa-thumbs-up,
.content.news .article-details .fa-comment {
    cursor: pointer;
}

.content.news .article-details .interact {
    display: flex;
    justify-content: space-between;
}

.content.news .article-details .interact .comments,
.content.news .article-details .interact .likes {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.content.news .article-details .new-comment {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1vw 0;
}

.content.news .article-details .new-comment .xmark {
    position: absolute;
    right: 0;
    top: 0;
}

.content.news .article-details .new-comment .xmark i {
    color: darkslategray;
}

.content.news .article-details .new-comment .comment-text {
    border: none;
    background: rgb(255 255 255 / 40%);
    padding: 1vw;
    height: 12vw;
    max-width: 51.4vw;
    min-width: 51.4vw;
}

.content.news .article-details .new-comment button.create {
    position: absolute;
    right: 0.6vw;
    bottom: 1vw;
    background-color: var(--color-gray-light);
    color: darkslategray;
}

.content.news .article-details .archive-btn {
    background: rgb(255 255 255 / 40%);
    position: absolute;
    color: darkslategray;
    right: 0;
    top: 1vw;
}

.content.news .article-details .new-comment button.create:hover,
.content.news .article-details .archive-btn:hover {
    background-color: var(--color-menu-cool-gray);
    color: white;
}

.content.news .article-details .comments-list h4 {
    padding-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1.4vw;
    border-bottom: 1px solid darkslategray;
}

.content.news .article-details .comments-list .comment {
    margin-top: 1.2vw;
    display: flex;
}

.content.news .article-details .comments-list .comment p {
    font-size: 1.2vw;
}

.content.news .article-details .comments-list .comment .left-container {
    width: 30%;
    border-right: 1px solid darkslategray;
}

.content.news .article-details .comments-list .comment .right-container {
    width: 70%;
    padding-left: 1vw;
}

.content.news .article-details .comments-list .comment:nth-child(even) {
    background: rgb(255 255 255 / 30%);
}