.content.profile {
    position: relative;
}

.content.profile .user-details {
    display: flex;
    height: 17vw;
}

.content.profile .user-details .profile-image,
.content.profile .user-details .profile-details,
.content.profile .form-edit {
    padding: 2vw;
}

.content.profile .user-details .profile-details {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content.profile .user-details .profile-details p {
    font-size: 1.4vw;
}

.content.profile .user-details .profile-image {
    width: 30%;
    text-align: center;
}

.content.profile .user-details .profile-image img,
.content.profile .profile-edit .form-edit .profile-image img {
    height: 12vw;
    border-radius: 50%;
    object-fit: cover;
}

.content.profile .user-details .profile-image i,
.content.profile .form-edit .profile-image i {
    font-size: 8vw;
}

.content.profile .user-details .profile-details .personal,
.content.profile .user-details .profile-details .contact,
.profile-edit .form-edit .personal,
.profile-edit .form-edit .contact {
    width: 36%;
    font-size: 1.6vw;
}

.content.profile .user-details .profile-details .personal,
.content.profile .user-details .profile-details .contact {
    display: flex;
    flex-direction: column;
}

.profile-edit .form-edit .personal,
.profile-edit .form-edit .contact {
    padding-top: 3vw;
}

.content.profile .user-details .profile-details .contact {
    text-align: right;
}

.content.profile .expiring.notes {
    background: none;
}

.content.profile .expiring.notes h1 {
    padding-left: 2vw;
}

.content.profile .expiring.notes .notes-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 1vw 0 0 2vw;
    padding-bottom: 1vw;
}

.content.profile .expiring.notes .notes-list .note {
    padding: 1vw;
    overflow: hidden;
}

.content.profile .expiring-notes .notes-list .note-details.active {
    position: absolute;
    top: 3.4vh;
    background-color: #dffad9;;
    left: 11vw;
    width: 60vw;
    height: 23vw;
    padding: 2vw 3vw;
}

.content.profile .expiring-notes .notes-list .note-details.active button.xmark {
    position: absolute;
    right: 2vw;
    top: 2.2vh;
}

.content.profile .expiring-notes .notes-list .note-details.active h3 {
    font-size: 3vw;
    font-weight: bold;
    padding-bottom: 1vw;
}

.content.profile .expiring-notes .notes-list .note-details.active .heading-row,
.content.profile .expiring-notes .notes-list .note-details.active .dates-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
}

.content.profile .expiring-notes .notes-list .note-details.active .heading-row p,
.content.profile .expiring-notes .notes-list .note-details.active .dates-row * {
    font-size: 1.6vw;
}

.content.profile .expiring-notes .notes-list .note-details.active .expiring-notes-content {
    margin: 2vw 0;
    font-size: 1.4vw;
}

.content.profile .expiring-notes .notes-list .note:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.content.profile .expiring-notes h1 {
    padding-bottom: 1vw;
    margin: 0 1.8vw;
    font-size: 2.6vw;
    border-bottom: 1px solid var(--color-menu-dark-soft-gray);
}

.content.profile .expiring-notes .notes-list .note h3 {
    font-size: 1.4vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.content.profile .expiring-notes .notes-list .note p {
    font-size: 1.2vw;
}

.content.profile .note.active.details {
    width: 93%;
    margin: 2vw;
}

.content.profile .note.inactive p {
    height: 10vw;
}

.profile-details .edit-btn {
    position: absolute;
    top: 0;
    height: 2.2vw;
    right: 0;
    font-size: 1.4vw;
    margin: 1vw;
}

.profile-details button {
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    vertical-align: middle;
}

.profile-details .edit-btn:hover,
.profile-edit .update-btn:hover {
    background-color: var(--color-menu-soft-gray);
}

.content.profile .profile-edit .form-edit {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    padding: 1vw 2vw 1.2vw;
}

.content.profile .profile-edit .form-edit .error.edit-details.error-list {
    position: absolute;
    top: 13.4vw;
    right: 8vw;
    text-align: right;
}

.profile-edit .form-edit .personal .dob input {
    width: 10vw;
}

.profile-edit .form-edit .profile-image {
    width: 22%;
}

.profile-edit .form-edit label {
    display: flex;
    justify-content: stretch;
    width: max-content;
    max-width: 25vw;
    gap: 1vw;
}

.profile-edit .form-edit input {
    background: transparent;
    border: none;
    max-width: 14vw;
    cursor: text;
}

.content.profile .form-edit * {
    font-size: 1.4vw;
}

.profile-edit .xmark {
    position: absolute;
    right: 2vw;
    top: 1vw;
    z-index: 10;
}

.profile-edit .update-btn {
    position: absolute;
    right: 2vw;
    bottom: 1.4vw;
}

#imageUrl {
    font-size: 1.2vw;
}

.content.profile .profile-edit .form-edit .profile-image {
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
    padding-top: 3.4vw;
    align-items: center;
}

.content.profile .profile-edit .custom-file-upload {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.1vw;
}

.content.profile .profile-edit .file-button {
    width: 100%;
    justify-content: center;
    font-size: 1vw;
    background-color: var(--color-menu-dark-soft-gray-transparent-01);
    padding: 0.1rem 1.2rem;
    cursor: pointer;
}

.content.profile .profile-edit .file-button:hover {
    background-color: var(--color-menu-dark-soft-gray-transparent-04);
}

.content.profile .profile-edit #file-chosen {
    font-size: 0.7rem;
}