.register-form {
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 0;
    left: 39vw;
    height: 14vw;
    min-height: 150px;
    width: 32vw;
    padding-top: 5vh;
}

.register-form button {
    padding: 0;
}

.register-form button .fa-xmark {
    position: absolute;
    top: 3.2vh;
    right: 0;
    color: white;
    cursor: pointer;
}

.register-form label {
    color: white;
}

.register-form .user-container,
.register-form .password-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.register-form .username,
.register-form .email,
.register-form .password,
.register-form .repass {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1vw;
}

.register-form .form-input {
    position: relative;
}

.register-form .form-input i {
    position: absolute;
    padding-left: 0.4vw;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.2);
}

.register-form input {
    padding-left: 2vw;
}

.register-form button.register {
    position: absolute;
    background-color: white;
    width: 6vw;
    bottom: 0.6vw;
    right: 0;
    font-size: 1vw;
    border-radius: 0.1vw;
}